
/* line 102 : /usr/local/www/public_html/static/icons/icons.styl */

/* line 1 : /usr/local/www/public_html/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /usr/local/www/public_html/static/icons/icons.styl */
i {
  display: inline-block;
  background-image: url("icons-16.png");
  width: 16px;
  height: 16px;
}

/* line 7 : /usr/local/www/public_html/static/icons/icons.styl */
i.folder {
  background-position: -8px -8px;
}

/* line 9 : /usr/local/www/public_html/static/icons/icons.styl */
i.document {
  background-position: -40px -8px;
}

/* line 11 : /usr/local/www/public_html/static/icons/icons.styl */
i.cross-hvr {
  background-position: -72px -8px;
}

/* line 13 : /usr/local/www/public_html/static/icons/icons.styl */
i.cross-hvr:hover {
  background-position: -104px -8px;
}

/* line 15 : /usr/local/www/public_html/static/icons/icons.styl */
i.cross-bld {
  background-position: -104px -8px;
}

/* line 17 : /usr/local/www/public_html/static/icons/icons.styl */
i.cross-red-hvr {
  background-position: -136px -8px;
}

/* line 19 : /usr/local/www/public_html/static/icons/icons.styl */
i.cross-red-hvr:hover {
  background-position: -168px -8px;
}

/* line 21 : /usr/local/www/public_html/static/icons/icons.styl */
i.cross-red-bld {
  background-position: -168px -8px;
}

/* line 23 : /usr/local/www/public_html/static/icons/icons.styl */
i.upload {
  background-position: -200px -8px;
}

/* line 25 : /usr/local/www/public_html/static/icons/icons.styl */
i.download {
  background-position: -232px -8px;
}

/* line 27 : /usr/local/www/public_html/static/icons/icons.styl */
i.tick-hvr {
  background-position: -264px -8px;
}

/* line 29 : /usr/local/www/public_html/static/icons/icons.styl */
i.tick-hvr:hover {
  background-position: -296px -8px;
}

/* line 31 : /usr/local/www/public_html/static/icons/icons.styl */
i.tick-bld {
  background-position: -296px -8px;
}

/* line 33 : /usr/local/www/public_html/static/icons/icons.styl */
i.tick-green-hvr {
  background-position: -328px -8px;
}

/* line 35 : /usr/local/www/public_html/static/icons/icons.styl */
i.tick-green-hvr:hover {
  background-position: -360px -8px;
}

/* line 37 : /usr/local/www/public_html/static/icons/icons.styl */
i.tick-green-bld {
  background-position: -360px -8px;
}

/* line 39 : /usr/local/www/public_html/static/icons/icons.styl */
i.cross-red-s-hvr {
  background-position: -392px -8px;
}

/* line 41 : /usr/local/www/public_html/static/icons/icons.styl */
i.cross-red-s-hvr:hover {
  background-position: -424px -8px;
}

/* line 43 : /usr/local/www/public_html/static/icons/icons.styl */
i.cross-red-s-bld {
  background-position: -424px -8px;
}

/* line 45 : /usr/local/www/public_html/static/icons/icons.styl */
i.tick-green-s-hvr {
  background-position: -456px -8px;
}

/* line 47 : /usr/local/www/public_html/static/icons/icons.styl */
i.tick-green-s-hvr:hover {
  background-position: -488px -8px;
}

/* line 49 : /usr/local/www/public_html/static/icons/icons.styl */
i.tick-green-s-bld {
  background-position: -488px -8px;
}

/* line 51 : /usr/local/www/public_html/static/icons/icons.styl */
i.twisty-closed-hvr {
  background-position: -520px -8px;
}

/* line 53 : /usr/local/www/public_html/static/icons/icons.styl */
i.twisty-closed-hvr:hover {
  background-position: -552px -8px;
}

/* line 55 : /usr/local/www/public_html/static/icons/icons.styl */
i.twisty-closed-bld {
  background-position: -552px -8px;
}

/* line 57 : /usr/local/www/public_html/static/icons/icons.styl */
i.twisty-open-hvr {
  background-position: -584px -8px;
}

/* line 59 : /usr/local/www/public_html/static/icons/icons.styl */
i.twisty-open-hvr:hover {
  background-position: -616px -8px;
}

/* line 61 : /usr/local/www/public_html/static/icons/icons.styl */
i.twisty-open-bld {
  background-position: -616px -8px;
}

/* line 63 : /usr/local/www/public_html/static/icons/icons.styl */
i.bullet {
  background-position: -648px -8px;
}

/* line 65 : /usr/local/www/public_html/static/icons/icons.styl */
i.bullet-bld {
  background-position: -680px -8px;
}

/* line 67 : /usr/local/www/public_html/static/icons/icons.styl */
i.user {
  background-position: -712px -8px;
}

/* line 69 : /usr/local/www/public_html/static/icons/icons.styl */
i.group {
  background-position: -744px -8px;
}

/* line 71 : /usr/local/www/public_html/static/icons/icons.styl */
i.copy {
  background-position: -776px -8px;
}

/* line 73 : /usr/local/www/public_html/static/icons/icons.styl */
i.paste {
  background-position: -808px -8px;
}

/* line 75 : /usr/local/www/public_html/static/icons/icons.styl */
i.disc-red-lrg {
  background-position: -840px -8px;
}

/* line 77 : /usr/local/www/public_html/static/icons/icons.styl */
i.disc-amber-lrg {
  background-position: -872px -8px;
}

/* line 79 : /usr/local/www/public_html/static/icons/icons.styl */
i.disc-green-lrg {
  background-position: -904px -8px;
}

/* line 81 : /usr/local/www/public_html/static/icons/icons.styl */
i.disc-red {
  background-position: -936px -8px;
}

/* line 83 : /usr/local/www/public_html/static/icons/icons.styl */
i.disc-amber {
  background-position: -968px -8px;
}

/* line 85 : /usr/local/www/public_html/static/icons/icons.styl */
i.disc-green {
  background-position: -1000px -8px;
}

/* line 87 : /usr/local/www/public_html/static/icons/icons.styl */
i.disc-red-sml {
  background-position: -1032px -8px;
}

/* line 89 : /usr/local/www/public_html/static/icons/icons.styl */
i.disc-amber-sml {
  background-position: -1064px -8px;
}

/* line 91 : /usr/local/www/public_html/static/icons/icons.styl */
i.disc-green-sml {
  background-position: -1096px -8px;
}

/* line 93 : /usr/local/www/public_html/static/icons/icons.styl */
i.edit {
  background-position: -1128px -8px;
}

/* line 95 : /usr/local/www/public_html/static/icons/icons.styl */
i.key {
  background-position: -1160px -8px;
}

/* line 97 : /usr/local/www/public_html/static/icons/icons.styl */
i.power {
  background-position: -1192px -8px;
}

/* line 99 : /usr/local/www/public_html/static/icons/icons.styl */
i.info-blue {
  background-position: -1224px -8px;
}

/* line 101 : /usr/local/www/public_html/static/icons/icons.styl */
i.unlink {
  background-position: -1256px -8px;
}
