i
    display: inline-block
    background-image: url('icons-16.png')
    width: 16px
    height: 16px
        
i.folder
    background-position: -8px -8px
i.document    
    background-position: -40px -8px
i.cross-hvr
    background-position: -72px -8px
i.cross-hvr:hover
    background-position: -104px -8px
i.cross-bld
    background-position: -104px -8px
i.cross-red-hvr
    background-position: -136px -8px
i.cross-red-hvr:hover
    background-position: -168px -8px
i.cross-red-bld
    background-position: -168px -8px
i.upload
    background-position: -200px -8px
i.download
    background-position: -232px -8px
i.tick-hvr
    background-position: -264px -8px
i.tick-hvr:hover
    background-position: -296px -8px
i.tick-bld
    background-position: -296px -8px
i.tick-green-hvr
    background-position: -328px -8px
i.tick-green-hvr:hover
    background-position: -360px -8px
i.tick-green-bld
    background-position: -360px -8px
i.cross-red-s-hvr
    background-position: -392px -8px
i.cross-red-s-hvr:hover
    background-position: -424px -8px
i.cross-red-s-bld
    background-position: -424px -8px
i.tick-green-s-hvr
    background-position: -456px -8px
i.tick-green-s-hvr:hover
    background-position: -488px -8px
i.tick-green-s-bld
    background-position: -488px -8px 
i.twisty-closed-hvr
    background-position: -520px -8px
i.twisty-closed-hvr:hover
    background-position: -552px -8px
i.twisty-closed-bld
    background-position: -552px -8px
i.twisty-open-hvr
    background-position: -584px -8px
i.twisty-open-hvr:hover
    background-position: -616px -8px 
i.twisty-open-bld
    background-position: -616px -8px
i.bullet
    background-position: -648px -8px
i.bullet-bld
    background-position: -680px -8px
i.user
    background-position: -712px -8px
i.group
    background-position: -744px -8px
i.copy
    background-position: -776px -8px
i.paste
    background-position: -808px -8px
i.disc-red-lrg
    background-position: -840px -8px
i.disc-amber-lrg
    background-position: -872px -8px
i.disc-green-lrg
    background-position: -904px -8px
i.disc-red
    background-position: -936px -8px
i.disc-amber
    background-position: -968px -8px
i.disc-green
    background-position: -1000px -8px
i.disc-red-sml
    background-position: -1032px -8px
i.disc-amber-sml
    background-position: -1064px -8px
i.disc-green-sml
    background-position: -1096px -8px
i.edit
    background-position: -1128px -8px
i.key
    background-position: -1160px -8px
i.power
    background-position: -1192px -8px
i.info-blue
    background-position: -1224px -8px
i.unlink
    background-position: -1256px -8px


