[[import re]]
[[if 'method' in output:
    method = output['method']
else:
    method = None
pass]]

[[if back_url:
    back_html = '<a class="fr-link" href="' + back_url + '">back</a> '
else:
    back_html = ''
pass]]

[[if method == 'popup':]]
    <div class="fr-content" id="[[=popup_title]]" data-method="replace">
    [[ =output['title'] ]]
    </div>
    [[ destination = popup_content ]]
[[else:]]
    [[ destination = paneId ]]
    <div class="fr-content" id="pane-title" data-method="replace">
    [[ =XML(back_html) ]][[ =output['title'] ]]
    [[if 'logfile' in output:]]
        <a class="fr-link" href="[[ =URL('history', output['logfile']) ]]">View History</a>
    [[pass]]


    <!-- [[ =csrf_token ]] -->
    </div>
[[pass]]


<div class="fr-content" id="[[=destination]]" data-method="replace" data-href="">
        [[for item in output['display']:]]
        
            [[if 'note' in item:]]
            <div class="note">
                [[ =item['note'] ]]
            </div>
            [[pass]]
            
            [[include 'action_tables.html']]
            
            [[if 'title' in item:]]
            <h2>[[ =item['title'] ]]</h2>
            [[pass]]
            
            [[if 'text' in item:]]
            <pre class="text">[[ =item['text'] ]]</pre>
            [[elif 'code' in item:]]
            <pre>[[ =item['code'] ]]</pre>
            [[elif 'xedit' in item:]]
            <pre>[[ =item['xedit'] ]]</pre>
            [[elif 'task' in item:]]
                [[if 'done_pattern' in output:
                    done_pattern=output['done_pattern']
                else:
                    done_pattern=''
                pass]]
            <pre id="task_output_[[ =item['task']['id'] ]]" 
                data-href="[[ =URL('taskupdate',item['task']['id']) ]]" 
                data-taskid="[[ =item['task']['id'] ]]"
                data-line="[[ =item['task']['line'] ]]" data-done="false"
                data-donepattern="[[=done_pattern]]"
                class="fr-taskupdater"></pre>
                
                
            [[elif 'edit' in item:]]
                <form id="form0" class="editor" method="post" action="[[ =form_action ]]" enctype="multipart/form-data">
                    <!-- form.editor used by css to set size of editor -->
                    <input type="hidden" name="csrf_token" value="[[ =csrf_token ]]"/>
                    <input type="hidden" name="1" value="[[ =item['edit']['filename'] ]]"/>
                    <input type="hidden" name="3" value="[[ =item['edit']['data'] ]]"/>
                    <input type="hidden" name="4" value="[[ =item['edit']['filename'] ]]"/>
                    <input type="hidden" name="file_inputs" value="3"/>
                    <div class="auth form-horizontal">
                    <input type="submit" name="2" value="save">
                    </div>
                    <br/>
                    <div id="editor0" class="editor" style="width: 100%; height: 500px">[[ =item['edit']['data'] ]]</div>
                    <script>
                        var editor = ace.edit("editor0");
                        editor.setTheme("ace/theme/monokai");
                        editor.getSession().setMode("ace/mode/[[ =item['edit']['mode'] ]]");
                        editor.getSession().on("change", function() {
                            $('input[name=3]').val(editor.getSession().getValue())
                        });
                    </script>
                </form>
            [[pass]]
            
            [[include 'action_forms.html']]
            
        [[pass]]  [[# end of display loop ]]

        [[if 'login' in output:]]
        <form id="form0" method="post" action="[[ =login_action ]]" enctype="multipart/form-data">
            <label>Flexmin Password</label>
            <input name="password" type="password"/>
            <br/>
            <input type="submit" value="Login"/>
            <input type="hidden" name="1" value="[[ =output['next_action'] ]]"/>
        </form>
        [[pass]]

        [[if 'debug' in output:]]
            [[=BEAUTIFY(output['debug'])]]
        [[pass]]

        [[if debug:]]
            [[=BEAUTIFY(debug)]]
        [[pass]]
        
        <hr style="color: transparent; clear:both; margin: 0px"/>
        
        [[if 'next' in output:]]
        <div class="fr-nextaction" data-action="[[ =output['next'] ]]"></div>
        [[pass]]
                    
    [[if 'next_action' in output and (not 'login' in output):]]
    [[ if output['next_action'] == "reload_pane": ]]
        <div class="fr-nextaction" data-action="reload" style="display: none"></div>
    [[ elif output['next_action'] == "reload_menu": ]]
        <div class="fr-nextaction" data-action="reload" data-href="[[ =URL('menu.html') ]]" style="display: none"></div>
    [[pass]]
    [[pass]]
    
    <script>
    $("#[[=destination]] form:not(.filter) :input:visible:enabled:first").focus()
    </script>

</div>
