                [[if 'table' in item and 'actions' in item['table']:]]
                    [[table = item['table'] ]]
                    [[if 'long' in table:
                        long = table['long']
                    else:
                        long = None
                    pass]]
                    [[if 'actions_bulk' in table and table['actions_bulk']:
                        table_class = "actions_bulk"
                    else:
                        table_class = "actions"
                    pass]]
                    [[if 'object_col' in table:
                        object_col = table['object_col']
                        url_object = True
                    else:
                        object_col = 0
                        url_object = True
                    pass]]
                    [[if 'second_col' in table:
                        second_col = table['second_col']
                        use_second_col = True
                    else:
                        use_second_col = False
                    pass]]
                    [[if 'show_sub' in table:
                        dosub = True
                        old = table['show_sub'][0]
                        new = table['show_sub'][1]
                    else:
                        dosub = False
                    pass]]
                    [[ if 'cell_newline' in table:
                        newline_replace=table['cell_newline']
                    else:
                        newline_replace=False
                    pass]]
                    [[if 'title' in table:]]
                    <h2>[[ =table['title'] ]]</h2>
                    [[pass]]
                    <div class="table_container">
                    <table class="table table-bordered [[=table_class]]">
                        <thead>
                            [[if 'header' in table:]]
                                [[for i in range(0,len(table['header'])): ]]
                                    [[ col = table['header'][i] ]]
                                    [[ col_show = "show_" + str(table['column_show'][i]) ]]
                                    [[ if col[-1] == '*': ]]
                                        <th class="status [[ =col_show]]">[[ =col[0:-1] ]]</th>
                                    [[ else: ]]
                                        <th class="[[ =col_show]]">[[=col]]</th>
                                    [[ pass ]]
                                [[pass]]
                            [[else:]]
                                <th>Item</th>
                            [[pass]]
                            [[if not 'actions_bulk' in table:]]
                                <!-- header for actions column here if desired -->
                            [[pass]]
                        </thead>
                        <tbody>
                            [[for row in table['data']:]]
                                [[if len(row[0].strip()) > 0:]]
                                    <tr class="fr-actionitem">
                                    [[ for i in range(0,len(row)-1): ]]
                                        [[ col = row[i] ]]
                                        [[ col_show = "show_" + str(table['column_show'][i]) ]]

                                        [[ if re.match(r'.*\*[\w]+$',col):
                                            # if * used and only alphanumeric characters follow then probably a
                                            # class tag, this is not a perfect test and may need refining for some
                                            # table situations
                                            v, c = col.split('*')
                                            c = c + " status"
                                        else:
                                            v = col
                                            c = ''
                                        pass]]
                                        [[if dosub:
                                            v = re.sub(old,new,v)
                                        pass]]
                                        [[if newline_replace:
                                            v = v.replace(newline_replace,'<br/>')
                                        pass]]
                                        <td class="[[=c]] [[=col_show]]"><span>[[=XML(v.replace('~','&nbsp;&nbsp;&nbsp;'))]]</span></td>
                                    [[pass]]
                                        [[if not 'actions_bulk' in table:]]
                                            <td class="actions">
                                            &nbsp; <!-- to ensure table cell does not collapse if empty -->
                                            [[if url_object:
                                                row_action = form_action + '/' + row[object_col]
                                            else:
                                                row_action = form_action
                                            pass]]
                                            [[for act in row[-1]:]]
                                                [[if long:
                                                    vars = {'1':act.replace('!',''),'2':row[0].replace('~',''),'long': long }
                                                else:
                                                    vars = {'1':act.replace('!',''),'2':row[0].replace('~','') }
                                                pass]]
                                                [[if act and act[0] == "!":
                                                    aClass="action double_check"
                                                    act=act[1:]
                                                else:
                                                    aClass="action"
                                                pass]]
                                                [[ show_act = re.sub('^[!?~]*([^+]*\+)?','',act) ]]
                                                [[if act:]]
                                                    [[ if act == '~download': ]]
                                                    <a href="[[ =download_action ]]/[[ =row[object_col] ]]">download</a>
                                                    [[ elif act[0] == '~': ]]
                                                    <a class="fr-link" href="[[ =row_action ]]">[[ =show_act.replace('_',' ') ]]</a>
                                                    [[ elif act[0] == '?': ]]
                                                        [[ if use_second_col:]]
                                                        <a class="fr-action" href="[[ =row_action ]]?2=[[ =act[1:] ]]&3=[[ =row[second_col] ]]">[[ =show_act.replace('_',' ') ]]</a>
                                                        [[ else: ]]
                                                        <a class="fr-action" href="[[ =row_action ]]?2=[[ =act[1:] ]]">[[ =show_act.replace('_',' ').replace('+','_') ]]</a>
                                                        [[ pass ]]
                                                    [[ else: ]]
                                                    <form method="post" class="filter" action="[[ =row_action ]]">
                                                        <input type="hidden" name="csrf_token" value="[[ =csrf_token ]]">
                                                        <input type="hidden" name="2" value="[[ =act.replace('+',' ') ]]"/>
                                                        [[ if use_second_col: ]]
                                                        <input type="hidden" name="3" value="[[ =row[second_col] ]]"/>
                                                        [[ pass ]]
                                                        <input type="hidden" name="long" value="[[ =long ]]"/>
                                                        <input class="[[=aClass]]" type="submit" value="[[ =show_act.replace('_',' ') ]]"/>
                                                    </form>
                                                    [[ pass ]]
                                                [[pass]]
                                            [[pass]]
                                            </td>
                                        [[pass]]
                                    </tr>
                                [[pass]]
                            [[pass]]
                        </tbody>
                    </table>
                    </div>
                    [[if 'actions_bulk' in table:]]
                        <form id="actions_bulk0" class="actions_bulk filter" method="post" action="to be completed" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="[[ =csrf_token ]]">
                            <input class="items" type="hidden" name="2" value=""/>
                        [[if long:]]
                            <input type="hidden" name="long" value="[[=long]]">
                        [[pass]]
                        [[for act in table['actions_bulk']:]]
                            [[if act[0] == "!":
                                aClass="double_check"
                                act=act[1:]
                            else:
                                aClass=""
                            pass]]
                            <input class="[[=aClass]]" type="submit" name="1" value="[[=act]]">
                        [[pass]]
                        </form>
                    [[pass]]
                [[elif 'table' in item:]]
                    [[table = item['table'] ]]
                    [[if 'show_sub' in table:
                        dosub = True
                        old = table['show_sub'][0]
                        new = table['show_sub'][1]
                    else:
                        dosub = False
                    pass]]
                    [[ if 'last_right' in table:
                        table_class="last_right"
                    else:
                        table_class=""
                    pass ]]
                    [[ if 'cell_newline' in table:
                        newline_replace=table['cell_newline']
                    else:
                        newline_replace=False
                    pass]]
                    [[if 'title' in table:]]
                    <h2>[[ =table['title'] ]]</h2>
                    [[pass]]
                    <div class="table_container">
                    <table class="table table-bordered table-condensed [[=table_class]]">
                        <thead>
                            <tr>
                            [[for i in range(0,len(table['header'])): ]]
                                [[ col = table['header'][i] ]]
                                [[ col_show = "show_" + str(table['column_show'][i]) ]]
                                [[ if col[-1] == '*': ]]
                                    <th class="status">[[ =col[0:-1] ]]</th>
                                [[ else: ]]
                                    <th class="[[ =col_show ]]">[[ =col ]]</th>
                                [[ pass ]]
                            [[pass]]
                            </tr>
                        </thead>
                        <tbody>
                            [[for row in table['data']:]]
                                [[if len(row)>0:]]
                                <tr>
                                    [[ for i in range(0,len(row)): ]]
                                        [[ col = row[i] ]]
                                        [[ col_show = "show_" + str(table['column_show'][i]) ]]
                                        [[ if re.match(r'.*\*[\w]+$',col):
                                            # if * used and only alphanumeric characters follow then probably a
                                            # class tag, this is not a perfect test and may need refining for some
                                            # table situations
                                            v, c = col.split('*')
                                            c = c + " status"
                                        else:
                                            v = col
                                            c = ''
                                        pass]]
                                        [[if dosub:
                                            v = re.sub(old,new,v)
                                        pass]]
                                        [[if newline_replace:
                                            v = v.replace(newline_replace,'<br/>')
                                        pass]]
                                        <td class="[[=c]] [[=col_show]]"><span>[[=XML(v)]]</span></td>
                                    [[pass]]
                                </tr>
                                [[pass]]
                            [[pass]]
                        </tbody>
                    </table>
                    </div>
                [[pass]]
