                [[ if 'form' in item: ]]
                    [[ form = item['form'] ]]
                    [[ file_list=[] ]]
                    [[ password_list=[] ]]
                    [[ if 'title' in form: ]]
                    <h2>[[ =form['title'] ]]</h2>
                    [[ pass ]]
                    <form id="form0" method="post" action="[[=form_action]]" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="[[ =csrf_token ]]">
                        [[ if 'long' in form: ]]
                        <input type="hidden" name="long" value="yes"/>
                        [[ pass ]]
                        [[ field_pos=1 ]]
                        [[ tabindex=1 ]]
                        [[ for field in form['fields']: ]]
                            [[if 'default' in field:
                                default_val = field['default']
                            else:
                                default_val = ""
                            pass]]
                            [[if 'label' in field:]]
                                <label for="input_[[=field_pos]]">[[ =field['label'] ]]
                                    [[if 'info' in field:]]
                                        <i class="info-blue" title="[[ =field['info'] ]]"></i>
                                    [[pass]]
                                </label>
                            [[pass]]
                            [[if 'select' in field:]]
                                <select id="input_[[ =field_pos ]]" name="[[ =field_pos ]]">
                                    [[for o in field['select']:]]
                                        [[if o == default_val:]]
                                            <option value="[[=o]]" selected="selected">[[=o]]</option>
                                        [[else:]]
                                            <option value="[[=o]]">[[=o]]</option>
                                        [[pass]]
                                    [[pass]]
                                </select>
                                [[ tabindex += 1 ]]
                            [[elif 'type' in field:]]
                                [[if 'pattern' in field:
                                    pattern = field['pattern']
                                else:
                                    pattern = ".*"
                                pass]]
                                [[if 'validation' in field:
                                    vnote = field['validation']
                                else:
                                    vnote = ""
                                pass]]
                                [[if field['type'] == 'text':]]
                                    <input id="input_[[=field_pos]]" type="text" name="[[=field_pos]]" pattern="[[=pattern]]" 
                                           value="[[=default_val]]" title="[[=vnote]]"/>
                                    [[ tabindex += 1 ]]
                                [[elif field['type'] == 'text_long':]]
                                    <input id="input_[[=field_pos]]" type="text" name="[[=field_pos]]" size="70" pattern="[[=pattern]]" 
                                           value="[[=default_val]]" title="[[=vnote]]"/>
                                    [[ tabindex += 1 ]]
                                [[elif field['type'] == 'date':]]
                                    <input id="input_[[=field_pos]]" type="text" data-type="date" name="[[=field_pos]]" 
                                           value="[[=default_val]]"/>
                                    [[ tabindex += 1 ]]
                                [[elif field['type'] == 'time':]]
                                    <input id="input_[[=field_pos]]" type="text" data-type="time" name="[[=field_pos]]" 
                                           value="[[=default_val]]"/>
                                    [[ tabindex += 1 ]]
                                [[elif field['type'] == 'hidden':]]
                                    <input id="input_[[=field_pos]]" type="hidden" name="[[=field_pos]]" value="[[=default_val]]"/>
                                [[elif field['type'] == 'textbox':]]
                                    <textarea id="input_[[=field_pos]]" class="dropzone" name="[[=field_pos]]" 
                                              cols="80" rows="10">[[=default_val]]</textarea>
                                    [[ file_list.append(f'{field_pos}') ]]
                                    [[ tabindex += 1 ]]
                                [[elif field['type'] == 'password':]]
                                    <input id="input_[[=field_pos]]" type="password" name="[[=field_pos]]"/>
                                    [[ password_list.append(str(field_pos)) ]]
                                    [[ tabindex += 1 ]]
                                [[elif field['type'] == 'upload':]]
                                    <label for="input_[[=field_pos]]" class="btn fileinputbutton">Select File
                                    <input id="input_[[=field_pos]]" style="position: fixed; top: -5000px" type="file" 
                                           name="[[=field_pos]]"/>
                                    </label>
                                    [[ tabindex += 1 ]]
                                [[elif field['type'] == 'multiselect':]]
                                    <select id="input_[[=field_pos]]" name="[[=field_pos]]" size="[[=len(field['options'])]]" 
                                            multiple="multiple">
                                        [[for c in field['options']:]]
                                        <option value="[[ =c['value'] ]]">[[ =c['label'] ]]</option>
                                        [[pass]]
                                    </select>
                                    [[ tabindex += 1 ]]
                                [[pass]]
                            [[pass]]
                            [[field_pos += 1]]
                        [[pass]]
                        <input type="hidden" name="file_inputs" value="[[ =' '.join(file_list) ]]"/>
                        <input type="hidden" name="password_inputs" value="[[=' '.join(password_list)]]"/>
                        [[if 'submit' in form:
                            # Submit label specified
                            submitLabel = form['submit']
                            # Check to see if label begins with ! to indicate double check needed
                            if submitLabel[0] == "!":
                                aClass="double_check"
                                submitLabel=submitLabel[1:]
                            else:
                                aClass=""
                            pass
                        else:
                            aClass=""
                        pass]]
                        <div class="auth form-horizontal">
                        <input class="[[=aClass]]" type="submit" value="[[=submitLabel]]"/>
                        </div>
                    </form>
                [[pass]]
