[[if back_url:
    back_html = '<a class="fr-link" href="' + back_url + '">back</a> '
else:
    back_html = ''
pass]]


[[ destination = paneId ]]
<div class="fr-content" id="pane-title" data-method="replace">
[[ =XML(back_html) ]][[ =title ]]
</div>

<div class="fr-content" id="[[ =destination ]]" data-method="replace" data-href="[[ =request.url ]]">
    [[ for g in graph_list: ]]
       <div class="chart">
        <h2>[[ =g ]]</h2>
        <canvas data-graph="[[ =g ]]" width="100%" height="40"></canvas>
       </div>
    [[ pass ]]
    <script>

        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
            };
            
        var ds_meta = [{
                    backgroundColor: Color(window.chartColors.red).alpha(0.1).rgbString(),
                    borderColor: window.chartColors.red,
                    fill: true,
                    lineTension: 0,
                }, {
                    backgroundColor: Color(window.chartColors.blue).alpha(0.1).rgbString(),
                    borderColor: window.chartColors.blue,
                    fill: true,
                    lineTension: 0,
                }, {
                    backgroundColor: Color(window.chartColors.green).alpha(0.1).rgbString(),
                    borderColor: window.chartColors.green,
                    fill: true,
                    lineTension: 0,
                }, {
                    backgroundColor: Color(window.chartColors.orange).alpha(0.1).rgbString(),
                    borderColor: window.chartColors.orange,
                    fill: true,
                    lineTension: 0,
                }, {
                    backgroundColor: Color(window.chartColors.purple).alpha(0.1).rgbString(),
                    borderColor: window.chartColors.purple,
                    fill: false,
                    lineTension: 0,
                }, {
                    backgroundColor: Color(window.chartColors.grey).alpha(0.1).rgbString(),
                    borderColor: window.chartColors.grey,
                    fill: false,
                    lineTension: 0,
                }]

        var config_options = {
            title: {
                text: 'Chart.js Time Scale'
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        // parser: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Not yet defined'
                    }
                }]
            }
        };

        /* data provide by web app */
        var all_data = [[ =XML(graph_data) ]]
        /* {'labels': ['Mon','Tue' 'Wed', .. ],
            'datasets': [
                {'label: 'line 1',
                'data': [1,2,3,4,5]},
                { ... }
                ]}
        */

                
        $("div.chart").each(function() {
            var canvas = $('canvas',this)[0]
            var ctx = canvas.getContext("2d");
            var graph_name = $(canvas).attr('data-graph')
            var timeFormat = 'MM/DD/YYYY HH:mm';

            /* get relevant data */
            var chart_data = all_data[graph_name]
                        
            /* Convert string dates to datetime objects */
            for (var i in chart_data.labels) {
                chart_data.labels[i] = moment(chart_data.labels[i]);
            };
            
            /* Insert settings into datasets */
            for (var i in chart_data.datasets) {
                for (var prop in ds_meta[i]) {
                    chart_data.datasets[i][prop] = ds_meta[i][prop];
                }
                for (var di in chart_data.datasets[i].data) {
                    var val = chart_data.datasets[i].data[di]
                    if (val !== null)
                        chart_data.datasets[i].data[di] = (val/(1024*1024)).toFixed(2);
                }
            };

            var config = {
                type: 'line',
                data: chart_data,
                options: config_options
            };
            config.options.scales.yAxes[0].scaleLabel.labelString = graph_name;
            var label = config.options.scales.yAxes[0].scaleLabel.labelString
            label = label.replace('(KB)','(GB)')
            config.options.scales.yAxes[0].scaleLabel.labelString = label
            var title = $('h2',this).html()
            title = title.replace('(KB)','(GB)')
            $('h2',this).html(title)
            
            var myChart = new Chart(canvas, config)
        });

    </script>
    <pre>[[ =text ]]</pre>
</div>
