[[left_sidebar_enabled=True
  right_sidebar_enabled=False]]
[[extend 'layout.html']]


<div id="main-view" class="fr-hidden">
    <div id="pane" class="fr-content">
        [[ if action_html: ]]
            [[ =XML(action_html) ]]
        [[ else: ]]
            <div class="subpane">
            [[for v in dir(request):]]
            <h2><b>request.[[=v]]</b></h2>
            [[=BEAUTIFY(getattr(request,v))]]
            [[pass]]
            </div>
        [[ pass ]]
    </div>
</div>

[[block left_sidebar]]
  [[=XML(menu_html)]]
[[end]]

<script>
/* Handle browser navigation within this controller page */
    $(document).ready( function() {
        frag = new Fragmenty ({
            navId: 'menu',
            popupId: 'popup',
            navMethod: 'append',
            popupHeightClearance: 160,
            sitePath: '/[[ =appname ]]/',
            debug: 2
        });
        treenav = new TreeNav ({
            sitePath: '/[[ =appname ]]/',
            fragmenty: frag,
            autoClose: true,
            debug: 0
        });
      });
</script>
