<div id="[[ =dest_title ]]" class="fr-content" data-method="replace">
    Flexmin Login
</div> 

<div id="[[ =dest_content ]]" class="fr-content" data-method="replace" data-href="">
    <div class="subpane">
        <div class="visible">
            [[ if 'text' in output: ]]
            <pre>[[ =output['text'] ]]</pre>
            [[ elif 'error' in output: ]]
            <pre class="error">[[ =output['error'] ]]</pre>
            [[ else: ]]
            <pre class="error">No suitable out returned</pre>
            [[ pass ]]

        </div>
    </div>
</div>

[[ if 'next_action' in output and output['next_action'] == 'reload': ]]
<div class="fr-nextaction" data-action="reload"></div>
[[ pass ]]
