<div id="menu" class="fr-content">
    <table id="tasks" class="treenav">
    <thead>
    </thead>
    <tbody>
    [[ for line in menu: ]]
        [[ if line[1][0] == '+':
            line[1] = line[1][1:]
            local_html = '<sup>L</sup>'
        else:
            local_html = ''
        pass ]]
        [[ if line[0] == "0":]]
            <tr class="treerow treenode tn-closed" data-tnlevel="0">
                <td>
                    <span class="treeitem">
                        <i class="twisty-closed-hvr"></i>
                        [[if line[2]:]]
                            <img src="[[ =URL('static', 'fm_icons', line[2]) ]]"/>
                        [[pass]]
                        <span>[[ =line[1] ]]</span>[[ =XML(local_html) ]]
                    </span>
                </td>
            </tr>
        [[ else: ]]
            <tr class="treerow treehide treeleaf tn-linkitem" data-tnlevel="1">
                <td>
                    <a href="[[ =URL('action', line[3]) ]]" class="fr-link">
                    <span>[[ =line[1] ]]</span>[[ =XML(local_html) ]]
                    </a>
                </td>
            </tr>
        [[ pass ]]
    [[ pass ]]
    </tbody>
    </table>
</div>

