body {
    overflow-y: hidden;
    font: 16px Arial, sans-serif;
}

@media screen and (max-width: 1000px) and (min-width: 720px) {
    body {
        font-size: 14px;
    }
    nav {
        font-size: 16px;
    }
}

@media screen and (max-width: 720px) and (min-width: 600px) {
    body {
        font-size: 12px;
    }
    nav {
        font-size: 16px;
    }
}


body.wait * {
    cursor: wait !important;
}

a {
    color: #048
}

.fr-hidden {
    visibility: hidden;
}

img.logo {
    width: 218px;
}

header.mastheader {
    border: solid 1px black;
    border-radius: 4px;
    padding: 4px 6px;
    background-color: #ddd;
}
header.mastheader h1 {
    margin: 0px;
}

.left-column header img {
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.menu section {
    padding-bottom: 6px;
}

.container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    overflow-y: scroll;
    overflow-x: auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.main h1 button {
    padding: 1px 2px;
    line-height: 0.8em;
    font-size: 0.8em;
    font-weight: normal;
}

section.main {
    width: 1140px;
}

#main-view {
    margin: 0px;
}


/* Make sure point only shows up on links in tasks menu, not whole cell */

.left-sidebar table {
    margin: 0px 0px 6px 0px;
}

#tasks > tbody > tr > td {
    cursor: auto !important;
}

#tasks > tbody > tr > td > span {
    cursor: pointer !important;
}

#tasks thead th a {
    display: flex;
    align-items: center;
}

#tasks tr.treerow td {
    display: flex;
    align-items: center;
}

#tasks tr.treerow td a,
#tasks tr.treerow td span.treeitem {
    display: flex;
    align-items: center;
    width: 100%;
}

#tasks a,
.actiontable a {
    border: solid 1px transparent;
    border-radius: 3px;
    text-decoration: inherit;
    color: inherit;
}

#tasks .treerow.is-active,
.actiontable a {
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    background-color: rgba(0,0,0,0.1);
}

#tasks td:hover,
.actiontable td:hover {
    background-color: rgba(0,0,0,0.06);
    cursor: pointer;
    text-decoration: none;
}

#tasks .treenode:hover {
    cursor: pointer;
}

#tasks tr[data-tnlevel="1"] td {
    padding-left: 1em;
}

#tasks tr[data-tnlevel="0"] td {
    padding-left: 6px;
    font-size: 1.2em;
}

#tasks i, #tasks img {
    margin-right: 0.3em;
}

table#tasks thead th {
    border: none;
    background-color: transparent;
    background-image: none;
    padding: 0px;
    padding-bottom: 6px;
}

table#tasks,
table.actiontable {
    border-collapse: collapse;
    border-spacing: 6px 4px;
}

table#tasks {
    width: 100%;
}

table#tasks tbody * {
    border: none
}

table#tasks tbody td {
    padding: 2px 4px;
    text-align: left;
}


table#tasks td * {
    /* Keep icons and links in menu lined up vertically */
    vertical-align: middle;
}

#tasks tr td a span {
    padding-left: 0.5em;
}

#tasks tr td.main a span {
    border-left: 6px solid black;
}

#tasks tr td.local a span {
    border-left: 6px solid #888;
}

#tasks tr td sup {
    font-size: 0.5em;
    line-height: 0.6em;
    position: relative;
    top: -0.25em;
    border: 1px solid #888;
    border-radius: 1px;
    margin-left: 0.5em;
    padding: 2px 2px 2px 2px;
}


table#tasks tbody a {
    padding: 0px 4px;
}

.treeitem {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}


table tr.treehide {
    display: none;
}


/* ---- */

form.editor {
    width: 50em;
}

.note {
    background-color: #FAF9EB;
    padding: 3px 5px;
    margin: 6px 0px 6px 0px;
    border: solid 1px #C0C0A0;
    border-radius: 2px;
}

.error {
    background-color: #FFB0B0;
    padding: 3px 5px;
    margin: 0px 0px 6px 0px;
    border: solid 1px #FF0000;
    border-radius: 2px;
}

#popup .table_container,
#pane .table_container {
    overflow-x: auto;
    width: 100%;
}

#popup table,
#pane table {
    border-collapse: collapse;
    width: 100%;
}

#popup table thead
#pane table thead {
    border: solid 1px #aaa;
    background-color: #eee;
}

#popup table tr,
#pane table tr {
    border-bottom: solid 1px #aaa;
}

#popup table tr.fr-actionitem.selected,
#pane table tr.fr-actionitem.selected {
    background-color: #ccc;
}

#popup table td,
#popup table th,
#pane table td,
#pane table th {
    align-items: center;
    padding: 4px 6px;
    text-align: left;
    vertical-align: middle;
}

#popup table td.show_0,
#popup table th.show_0,
#pane table td.show_0,
#pane table th.show_0 {
    display: none;
}

#popup table td.show_2,
#popup table th.show_2,
#pane table td.show_2,
#pane table th.show_2 {
    text-align: right;
}


table thead th.status {
    text-align: center;
}

/* These rules help keep final column looking neat */

table.actions th:last-child {
    text-align: right;
    white-space: nowrap;
}

table.actions td.actions {
    justify-content: flex-end;
    white-space: nowrap;
    text-align: right;
}

#popup table.last_right th:last-child,
#pane table.last_right th:last-child {
    text-align: right;
}

#popup table.last_right td:last-child,
#pane table.last_right td:last-child {
    text-align: right;
}

table td.status {
    text-align: center;
    width: 1px;
}

#main-view > *:last-child {
    margin-bottom: 1em !important;  /* add some clearance at the bottom of main content */
}

.fr-page-blocker {
    position: fixed;
    z-index: 100;
    background: url('../images/white_opacity_40.png');
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: none;
}

.fr-page-blocker:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.fr-page-blocker section.centered {
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    bottom: 20px;
    left: 50%;   /* this and transform centre this column */
    transform: translateX(-50%);
}

.fr-page-blocker #popup {
    xposition: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 90%;
}

.fr-page-blocker #popup #popup-content {
    display: inline-block;
    min-width: 250px;
    max-width: 85vw;
    overflow: auto;
}

.fr-overlay {
    vertical-align: middle;
    opacity: 1;
    text-align: left;
    /* display: block; /* */
    border: solid 1px #888;
    box-shadow: 0 1px 8px 6px #aaa;
    padding: 5px 6px;
    border-radius: 5px;
    margin-bottom: 10px;
    /* background-color: #EFEFEF; */
    background: linear-gradient(180deg, rgba(230,230,230,1) 0px,rgba(220,220,220,1) 16px,rgba(210,210,210,1) 50px); /* W3C */
}


/* Main Content Styling */

pre {
    background-color: #eee;
    padding: 6px;
    margin: 6px 0px;
    font-size: 0.8em;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

pre.text {
    border: 1px solid #bbb;
    padding: 4px 8px;
    font-size: 1em;
    font: inherit;
    background-color: white;
}

.main h1,
.main h2 {
    border: solid 1px #858585;
    border-radius: 4px;
}

.left-column header,
.left-pullout button.menu,
.main h1,
.main h2,
.menu header {
    background: linear-gradient(180deg, rgba(230,230,230,1) 0px,rgba(220,220,220,1) 16px,rgba(210,210,210,1) 50px); /* W3C */
}

.left-column footer,
.left-column .hiddenscroll > * {
    background-color: rgba(210,210,210,1);
}

.main h1,
.main h2,
.menu header {
    display: block;
    margin-bottom: 8px;
}

.main header h1,
#main-view h1 {
    padding: 2px 8px;
    margin: 4px 0px;
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: bold;
}

#main-view h2 {
    padding: 2px 6px;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: normal;
    margin-top: 8px;
}


.fr-overlay > h1 {
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 4px;
    margin: 0px 0px 4px 0px;
    background-color: transparent;
    background: none;
    border: none;
}


.fr-overlay > h1 > .popup_controls {
    display: flex;
    align-items: center;
    float: right;
    text-align: right;
    vertical-align: middle;
    margin-left: 1em;
    font-size: 0.8em !important;
    font-weight: normal;
}

.fr-overlay > h1 > .popup_controls > * {
    vertical-align: middle;
}


.fr-overlay > #popup-content {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 6px 6px 6px 6px;
    max-height: 600px;
    max-width: 900px;
}

/*
.fr-overlay #popup-content:last-child:after {
    content: "-";
    color: transparent;
    clear: both;
    height: 1px;
}
*/

pre h1 {
    font-weight: bold;
    font-size: 1em;
    line-height: 1em;
    padding: 3px 5px;
    margin: 6px 0px 2px 0px;
    background-color: #ccc;
}

pre {
    padding: 0.5em 1em;
}

table tr.ba_selected td {
    background-color: #c7ebf7;
}



/* Assume all icons perform action 
   make this more specific if this proves not to be the case
*/ 
i {
    cursor: pointer;
}


/* Form styling */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button:hover,
input[type=submit]:hover {
    cursor: pointer;
}

input:invalid {
    background-color: #fcc;  /* consistent error flag across browsers */
    box-shadow: none;  /* removed FF error shadow */
}

form input {
    display: block;
}

/* Over ride bootstraps pointer cursor on entire label (width of container */

form label {
    cursor: default !important;
    padding-top: 0.4em;
    display: block;
}

form label i {
    cursor: help !important;
}


form input[type=submit] {
    margin-top: 8px;
}

.fileinputbutton {
    margin-bottom: 5px;  /* hack to space this button from associated text box */
}

.dropzone .fileinputbutton {
    margin-bottom: 0px;
}

label > i {
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-left: 4px;
}

table td,
table td.status {
    text-align: left;
    vertical-align: middle;
}

table td.status > * {
    white-space: nowrap;
}

.main header a {
    font-size: 0.6em;
    position: relative;
    top: -0.1em;
    vertical-align: middle;
}

#pane table a,
#popup table a,
.main header a,
table form input[type=submit] {
    margin: 0px 0px 0px 4px;
    text-decoration: none;
    background: linear-gradient(180deg, #eeeeee 0%,#dddddd 23%,#cccccc 100%); /* W3C */
}

table form input[type=submit],
#pane table a,
#popup table a,
.main header a,
table td.status span {
    padding: 2px 4px;    
    border: 1px solid black;
    line-height: 1em;
    border-radius: 3px;
}

table td.status span {
    padding: 1px 4px; /* reduced padding cf. buttons to get similar overall size */
    border-radius: 3px;
    border: solid 1px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

table td.red span {
    background: #ffd1cc; /* Old browsers */
    background: linear-gradient(180deg, #ffd1cc 0%,#ffa399 23%,#ff8375 100%); /* W3C */
    border-color: #c66;
}

table td.green span {
    background: #c3f4ca; /* Old browsers */
    background: linear-gradient(180deg, #c3f4ca 0%,#a6e0ae 39%,#91d69b 100%); /* W3C */
    border-color: #6c6;
}

table td.amber span {
    background: #FBC250; /* Old browsers */
    background: linear-gradient(180deg, #F9E1AF 0%,#F9D385 39%,#FBC250 100%); /* W3C */
    border-color: #C48D17;
}

table td.actions {
    display: flex;
}

