
body > header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    left: 50%;
    width: 1040px;
    height: 0px;
    padding: 0px 20px;
    transform: translateX(-50%);
    background-color: #E0ECF8;
}

.menu header {
    box-sizing: border-box;  /* stop padding adding to size */
    height: 65px;
    padding: 0px;
}

.menu section {
    top: 65px;
}

body > section {
    position: fixed;
    top: 12px;  /* below header */
    bottom: 12px;
    width: 1040px;   /* match header */
    left: 50%;   /* this and transform centre this column */
    transform: translateX(-50%);
}

.hiddenscroll > *
.menu header {
    margin: 0px 5px 0px 0px;  /* add spacing between scrollbar and content */
}
.hiddenscroll > .content {
    padding: 4px 6px;
}

.hiddenscroll,
.frame {
    position: absolute;
    padding: 0px;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
}

.smoothscroll {
    scroll-behavior: smooth;
}

.frame {
    border: solid 1px transparent;
    background-color: rgba(255,200,200,0.3);
}

.main,
.menu {
    position: absolute;  /* position absolute within section */
    top: 0px;
    bottom: 0px;
    overflow: hidden;    /* hide scroll bar when width reduced */
    padding: 0px;
}

.content {
    background-color: rgba(200,200,255,0.3);
}

.content-footer,
.content-header {
    background-color: rgba(200,255,200,0.3);
    margin-bottom: 10px;
    margin-top: 6px;
}

/* Split width (navigation panel + content) page layout settings */
/* ------------------------------------------------------------- */

section[data-layout="split"] .menu,
section[data-layout="split"] .menu .frame {
    box-sizing: border-box;
    width: 250px;  /* reduced container width to hide scroll bar */
}

section[data-layout="split"] .menu:hover,
section[data-layout="split"] .menu .hiddenscroll {
    box-sizing: border-box;
    width: 270px;  /* expands menu container to show scroll bar on hover */
}

section[data-layout="split"] .menu .hiddenscroll > *,
section[data-layout="split"] .menu header
{
    box-sizing: border-box;
    max-width: 245px;  /* keeps contents of scrollable container within container and stops them expanding when showing scroll bar*/
}

section[data-layout="split"] .main {
    box-sizing: border-box;
    margin-left: 275px;  /* keep main container clear of menu on the left */
}

section[data-layout="split"] .main,
section[data-layout="split"] .main .frame {
    box-sizing: border-box;
    width: 805px;
}

section[data-layout="split"] .main:hover,
section[data-layout="split"] .main .hiddenscroll {
    box-sizing: border-box;
    width: 825px;
}

section[data-layout="split"] .main .hiddenscroll > * {
    box-sizing: border-box;
    max-width: 795px;
}

/* Full width page layout settings */

section[data-layout="full"] .menu,
section[data-layout="full"] .menu .frame {
    box-sizing: border-box;
    width: 0px;    
}

section[data-layout="full"] .menu:hover,
section[data-layout="full"] .menu .hiddenscroll {
    box-sizing: border-box;
    width: 0px;
}

section[data-layout="full"] .menu .hiddenscroll > * {
    box-sizing: border-box;
    max-width: 0px;
}

section[data-layout="full"] .main {
    box-sizing: border-box;
    margin-left: 0px;
}

section[data-layout="full"] .main,
section[data-layout="full"] .main .frame {
    box-sizing: border-box;
    width: calc(1040px - 20px);    /* 20px less than hidden scroll and ::hover*/
}

section[data-layout="full"] .main:hover,
section[data-layout="full"] .main .hiddenscroll {
    box-sizing: border-box;
    width: 1040px;
}

section[data-layout="full"] .main .hiddenscroll > * {
    box-sizing: border-box;
    max-width: calc(1040px - 30px);  /* 30px less than hidden scroll and ::hover*/
}
