
body > header {
    position: fixed;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    right: 0px;
    left: 50%;
    width: 1000px;
    height: 0px;  /* adjust header top value to match */
    padding: 0px 20px;
    transform: translateX(-50%);
    /* background-color: #E0ECF8; /* for debugging */
}

body > section {
    position: fixed;
    top: 6px;  /* below header */
    bottom: 0px;
    z-index: 1;
    width: 1020px;   /* match header */
    left: 50%;   /* this and transform centre this column */
    transform: translateX(-50%);
    overflow: hidden;
    /* background-color: rgba(255,200,200,0.2); ?8 for debugging */
}

.left-pullout {
    position: fixed;  /* position absolute within section */
    top: 0px;
    bottom: 0px;
    height: 100%;
    xoverflow: hidden;    /* hide scroll bar when width reduced */
    padding: 0px;
    z-index: 10;
    /* background-color: rgba(255,200,200,0.3);  /* for debugging */
}

.left-pullout button {
    position: absolute;
    top: 0px;
    right: -30px;  /* width allowed for scrollbar (20px?) - button width */
}

.main,
.left-column {
    position: absolute;  /* position absolute within section */
    top: 0px;
    bottom: 0px;
    min-height: 100%;
    overflow: hidden;    /* hide scroll bar when width reduced */
    padding: 0px;
    /* background-color: rgba(200,200,255,0.2);  /* for debugging */
}

.left-pullout button,
.left-column > *:not(.hiddenscroll),
.left-column > .hiddenscroll > * {
    border: solid 1px black;
}


.left-column > .hiddenscroll > * {
    min-height: 100%;  /* make sure container within hidden scroll fills it's parent */
}

.left-column header {
    box-sizing: border-box;  /* stop padding adding to size */
    height: 80px;           
    padding: 0px;
    border-bottom: none !important;
    border-radius: 4px 4px 0px 0px;
}

.left-pullout button {
    border-radius: 0px 4px 4px 0px;
    border-left: none;
}

.left-pullout button:focus {
    outline: none;
    box-shadow: none;
}

.left-pullout .left-column header {
    border-top-right-radius: 0px;
}

.left-column main {
    position: absolute;
    top: 80px;  /* match with height of header */
    bottom: 10px;  /* match height of footer */
}

.left-column main.hiddenscroll > * {
    border-top: none !important;
    border-bottom: none !important;
    border-radius: 0px;
}

.left-column footer {
    position: absolute;
    bottom: 6px;
    box-sizing: border-box;  /* stop padding adding to size */
    width: 100%;
    height: 10px;  /* adjust bottom of main to match */
    padding: 0px;
    border-top: none !important;
    border-radius: 0px 0px 4px 4px;
}

.hiddenscroll > *
.left-column header {
    margin: 0px 5px 0px 0px;  /* add spacing between scrollbar and content */
}
.hiddenscroll > .content {
    padding: 4px 6px;
}

/* Main Content Area Styling */
/* ------------------------- */

.left-pullout button,
.main header {
    box-sizing: border-box;
    height: 2.5em;
}

.left-pullout button.menu {
    cursor: pointer;
}

.main header {
    position: relative;
    z-index: 1;
}

.main header h1 {
    box-sizing: border-box;
    margin: 0px;
    margin-left: 30px;
    height: 100%;
}

.main header > * {
    margin: 0px;
}

.main main {
    position: absolute;
    top: 2.75em;  /* match with height of header */
    bottom: 0px;  /* match height of footer */
}

.main footer {
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;  /* stop padding adding to size */
    width: 100%;
    height: 0px;  /* adjust bottom of main to match */
    padding: 0px;
}

main.hiddenscroll {
    position: absolute;
    padding: 0px;
    overflow-y: auto;
    box-sizing: border-box;
}

main.hiddenscroll > * {
    box-sizing: border-box;
}

.smoothscroll {
    scroll-behavior: smooth;
}

.left-pullout {
    z-index: 2;
    width: 0px;  /* placeholder for left-column only */    
}

.main {
    z-index: 1;
}

section .main,
section .main header h1,
section .main > *,
section .main .hiddenscroll > *,
section .left-pullout,
section .left-pullout .right,
section .left-pullout .right > * {
    box-sizing: border-box;
    transition: all 0.3s linear;
}

section .main .hiddenscroll {
    padding-top: 10px;
}

section .main > *,
section .main .hiddenscroll > * {
    overflow-x: hidden;
}

section[data-layout="split"] .left-pullout .right {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

section[data-layout="split"] .left-pullout button {
    z-index: 20;  /* make sure button always clickable */
    width: 51px;  /* left pullout width - left-column width */
}

section[data-layout="split"] .main {
    top: 0px;
    bottom: 0px;
    left: 255px;  /* keep right of left-column */
    right: 0px;
}


/* Split width (navigation panel + content) page layout settings */
/* ------------------------------------------------------------- */

@media screen and (min-width: 1024px) {

    /* Normal View with left-column showing */

    section[data-layout="split"] .left-pullout .right {
        width: 250px;  /* includes left-column and button */
    }

    section[data-layout="split"] .left-column,
    section[data-layout="split"] .left-column > *,
    section[data-layout="split"] .left-column .hiddenscroll > * {
        width: 230px;  /* reduced container width to hide scroll bar */
    }

    section[data-layout="split"] .left-column:hover,
    section[data-layout="split"] .left-column .hiddenscroll {
        width: 250px;  /* expands menu container to show scroll bar on hover */
    }

    section[data-layout="split"] .main,
    section[data-layout="split"] .main > *,
    section[data-layout="split"] .main .hiddenscroll > * {
        width: 745px; /* hide scroll bar */
    }

    section[data-layout="split"] .main:hover,
    section[data-layout="split"] .main .hiddenscroll {
        width: 765px;
    }

    /* Left-column hidden */

    section.hidden_left[data-layout="split"] .left-column:hover {
        width: 230px;  /* doesn't expand menu container to show scroll bar if hidden */
    }

    section.hidden_left[data-layout="split"] .left-pullout .right {
        left: -230px;  /* should match width of .left-column */
    }


    section.hidden_left[data-layout="split"] .main {
        left: 20px;
    }

    section.hidden_left[data-layout="split"] .main header h1 {
        margin-left: 35px;
    }

    section.hidden_left[data-layout="split"] .main,
    section.hidden_left[data-layout="split"] .main > *,
    section.hidden_left[data-layout="split"] .main .hiddenscroll > * {
        width: 980px;  /* normal inner width + 250 */
    }

    section.hidden_left[data-layout="split"] .main:hover {
        width: 1000px;
    }
    section.hidden_left[data-layout="split"] .main .hiddenscroll {
        width: 1000px;  /* normal inner width + 20 (scroll bar) + 250 */
        xmargin-right: 0px;
    }
}
    
@media screen and (max-width: 1000px) and (min-width: 600px) {
    
    /* TODO: Remove scroll bar adjustments for mobile screens and use full width for main panel */

    body > header {
        width: 700px;
    }
    body > section {
        width: 720px;
    }
    
    /* Normal View with left-column showing */
    
    section[data-layout="split"] .main {
        left: 20px;
    }
    section[data-layout="split"] .main header h1 {
        margin-left: 35px;
    }

    section[data-layout="split"] .left-pullout .right {
        width: 250px;  /* includes left-column and button */
    }
    
    section[data-layout="split"] .left-column,
    section[data-layout="split"] .left-column > *,
    section[data-layout="split"] .left-column .hiddenscroll > * {
        width: 230px;  /* reduced container width to hide scroll bar */
    }

    section[data-layout="split"] .left-column:hover,
    section[data-layout="split"] .left-column .hiddenscroll {
        width: 250px;  /* expands menu container to show scroll bar on hover */
    }

    section[data-layout="split"] .main,
    section[data-layout="split"] .main > *,
    section[data-layout="split"] .main .hiddenscroll > * {
        width: 680px; /* hide scroll bar */
    }

    section[data-layout="split"] .main:hover,
    section[data-layout="split"] .main .hiddenscroll {
        width: 700px;
    }

    /* Left-column hidden */

    section.hidden_left[data-layout="split"] .left-column:hover {
        width: 230px;  /* doesn't expand menu container to show scroll bar if hidden */
    }

    section.hidden_left[data-layout="split"] .left-pullout .right {
        left: -230px;  /* should match width of .left-column */
    }
    
}

/* Full width page layout settings */

section[data-layout="full"] .left-column,
section[data-layout="full"] .left-column .frame {
    box-sizing: border-box;
    width: 0px;    
}

section[data-layout="full"] .left-column:hover,
section[data-layout="full"] .left-column .hiddenscroll {
    box-sizing: border-box;
    width: 0px;
}

section[data-layout="full"] .left-column .hiddenscroll > * {
    box-sizing: border-box;
    max-width: 0px;
}

section[data-layout="full"] .main {
    box-sizing: border-box;
    margin-left: 0px;
}

section[data-layout="full"] .main,
section[data-layout="full"] .main .frame {
    box-sizing: border-box;
    width: calc(1040px - 20px);    /* 20px less than hidden scroll and ::hover*/
}

section[data-layout="full"] .main:hover {
section[data-layout="full"] .main .hiddenscroll {
    box-sizing: border-box;
    width: 1040px;
}

section[data-layout="full"] .main .hiddenscroll > * {
    box-sizing: border-box;
    max-width: calc(1040px - 30px);  /* 30px less than hidden scroll and ::hover*/
}


